@media screen and (max-width: 915px){
    
    header{
        flex-direction: column;

    }
    
    main {
        flex-direction: column;
        margin-top: 10px;
        text-align: center;

    }
    p {
        margin: auto;
    }

    h2{
        font-size: 38px;
        
    }
    form{
        margin: auto;
        width: 470px;
    
    }
    input {
        align-self: center;
        
    }

    img {
        display: none;
    }
    ul {
        text-align: center;
    }
}