@media screen and (max-width: 915px){
    
   body {
       padding: 15px 10px 15px 10px;
   }

    header{
        flex-direction: column;       

    }
    
    
    main {
        min-width: 50px;
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
        align-self: center;
        padding: 20px 0px 20px 0px;

    }
    p {
        margin: auto;
    }

    h2{
        font-size: 27px;
        
        
    }
    form{
        margin: auto;
        width: 470px;
        
    
    }
    input {
        align-self: center;
        
        
        
    }

    img {
        display: none;
    }
    ul {
        text-align: center;
        min-width: 50px;
    }
}